@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Jomolhari';
    font-style: normal;
    font-weight: normal;
    src: local('Jomolhari'), url('./public/fonts/Jomolhari.woff') format('woff');
}
@font-face {
    font-family: 'sem1';
    font-style: normal;
    font-weight: normal;
    src: local('sem1'), url('./public/fonts/sem1.woff') format('woff');
}
@font-face {
    font-family: 'sem2';
    font-style: normal;
    font-weight: normal;
    src: local('sem2'), url('./public/fonts/sem2.woff2') format('woff2');
}
@font-face {
    font-family: 'Next-Bravo';
    font-style: normal;
    font-weight: normal;
    src: local('Next-Bravo'), url('./public/fonts/Next-Bravo.woff') format('woff');
}
@layer components {
    .trans {
        @apply transition-all ease-linear duration-200
    }
    .list-rules-tab {
        @apply w-1/2 h-full flex justify-center items-center border rounded-t-lg bg-slate-50 hover:bg-slate-100 trans hover:cursor-pointer text-sm
    }
    .list-rules-tab-selected {
        @apply w-1/2 h-full flex justify-center items-center border border-b-0 rounded-t-lg bg-slate-200 trans text-sm
    }
    .list-rules-rule {
        @apply w-[90%] h-8 flex justify-center items-center rounded-md my-0.5 border border-blue-300 cursor-pointer hover:bg-blue-300 trans
    }
}
.ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
  }
  
.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
  }