@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Jomolhari';
    font-style: normal;
    font-weight: normal;
    src: local('Jomolhari'), url('./fonts/Jomolhari.woff') format('woff');
}
@font-face {
    font-family: 'sem1';
    font-style: normal;
    font-weight: normal;
    src: local('sem1'), url('./fonts/sem1.woff') format('woff');
}
@font-face {
    font-family: 'sem2';
    font-style: normal;
    font-weight: normal;
    src: local('sem2'), url('./fonts/sem2.woff2') format('woff2');
}
@font-face {
    font-family: 'Next-Bravo';
    font-style: normal;
    font-weight: normal;
    src: local('Next-Bravo'), url('./fonts/Next-Bravo.woff') format('woff');
}
@layer components {
    .trans {
        @apply transition-all ease-linear duration-200
    }
    .list-rules-tab {
        @apply w-1/2 h-full flex justify-center items-center border bg-[#FFF] hover:bg-[#D9D9D9]  hover:cursor-pointer text-sm
    }
    .list-rules-tab-selected {
        @apply w-1/2 h-full flex justify-center items-center bg-[#D9D9D9] border-b-[3px] border-[#362CA5] text-sm
    }
    .list-rules-rule {
        @apply w-[90%] h-8 flex justify-start pl-2 items-center  cursor-pointer 
    }


    
    .list-rules-tab2 {
        @apply w-1/2 h-full flex justify-center items-center border bg-[#d9d9d9] hover:bg-[#D9D9D9]  hover:cursor-pointer text-sm
    }
    .list-rules-tab-selected2 {
        @apply w-1/2 h-full flex justify-center items-center bg-[#FFF] border-b-[3px] border-[#362CA5] text-sm
    }
    .list-rules-rule2 {
        @apply w-[90%] h-8 flex justify-start pl-2 items-center  cursor-pointer 
    }
    .selected-step{
        @apply flex items-center justify-center w-10 h-10 bg-blue-100 rounded-full lg:h-12 lg:w-12 dark:bg-blue-800 shrink-0
    }   
    .selected-part{
        @apply flex w-full items-center text-blue-600 dark:text-blue-500 after:content-[''] after:w-full after:h-1 after:border-b after:border-blue-100 after:border-4 after:inline-block dark:after:border-blue-800
    }
    .part2 {
        @apply flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-700
    }
    .step2{
        @apply flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-700 shrink-0
    }
    .part3 {
        @apply flex items-center w-full
    }
    .step3 { 
        @apply flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-700 shrink-0
    }

}
.ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
  }
  
.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
  }
